@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "고딕" ,"Rubik";
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

table {
    border-collapse: collapse;
}